body {
  margin: 0;
  scroll-behavior: smooth;
  font: 16px 'Raleway', sans-serif;
  overflow-x: hidden;
}

header {
  border: 1px solid rgba(128, 128, 128, 0.26);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 3px 0;
  position: sticky;
  top: 0;
  z-index: 1000;  
  background-color: white;
}

.nav-elements {  
  display: flex;
}

.header-link {
  position: relative;
  text-decoration: none;
  color: grey;
  padding: 8px;
  font-size: 20px;
}

.header-link:hover {
  color: green;
}

.header-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: green;
  bottom: 1px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.header-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  width: 220px;
}

.burger-menu-toggle {
  display: none;
  top: 10px;
  right: 10px;
  background-color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.burger-menu-toggle span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  }

.mobile-nav.open {
  display: block;
}

.mobile-nav .nav-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger-menu-toggle.active {
  background-color: #444;
}

@media (max-width: 768px) {
  .nav-elements {
    display: none;
  }

  .burger-menu-toggle {
    display: block;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-link {
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) {
  .burger-menu-toggle {
    display: none;
  }

  .nav-elements {
    display: flex;
  }
}

.link_btn {
  color: white;
  text-decoration: none;
}

.recipe_selection {
  background-color: rgb(239, 235, 235);
  height: 30vh;
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  font-size: 20px;
  font-weight: normal;
}

.sub_container_recipe_selection {
  text-align: center;
}

.recipe_images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img_sub_container_recipe_selection {
  height: 148px;
  width: 148px;
  border-radius: 10px;
  object-fit: cover;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: black;
}

.info_container_scrambled_tofu {
  display: flex;
  flex-direction: column;  
  padding: 36px 164px;
}

.photo_heading-container_scrambled_tofu {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 236px;
}

.sub_cntainer_heading_scrambled_tofu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 164px;
  justify-content: flex-start;
  gap: 24px;

}

.ingredients_input_tofu_scramble {
  font-size: 16px;
  height: 39px;
  width: 200px;
  border-width: 1px 1px;
  border-top: 1px solid rgb(236, 233, 233);
  border-left: 1px solid rgb(236, 233, 233);
  border-bottom: 1px solid rgb(236, 233, 233);
  border-right: 1px solid rgb(236, 233, 233);
  padding: 0;
}

.recipe_short_information {
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
  padding: 6px 6px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.recipe_indication_img {
  height: 14px;
  width: 14px;
  padding-right: 8px;
}

.heading-for {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

.spann {
  margin-left: 40px;
}

.recipe-header-sec {
  text-decoration: underline;
}

.recipe_short_information_tipp {
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
  padding: 6px 6px;
  font-size: 16px;
  display: flex;
  align-items: center;
  max-width: 40px;
  font-weight: 600;
}

h2 {
  padding-top: 16px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}

.error {
  margin-left: 164px;
  text-align: start;
  color: red;
  display: none;
}

button:hover {
  transform: scale(1.1);
}

.link_btn {
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.calculate_ingredients_container_tofu_scramble {
  padding-top: 48px;
  padding-bottom: 12px;
  padding-left: 164px;
  padding-right: 164px;
  display: flex;
  justify-content: flex-start;
}

.text_field-tofu_scramble {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.table_tofu_scramble {
  width: 100%;
  padding: 0 164px;
  font-size: 16px;
  text-align: left;
}

.row_tofu_scramble {
  padding: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.grey_row {
  background-color: rgb(236, 233, 233);
}

.sub_cntainer_Zubereitung_scrambled_tofu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 400px;
}

.heading_Zubereitung {
  font-size: 24px;
  font-weight: 600;
}

.profile_container_scrambled_tofu {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 124px;
  padding-left: 164px;
  padding-right: 164px;
}

.heading_Profil_container {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.profile_indicator {
  display: flex;
  flex-direction: row;
  align-items: self-end;
}

.profile_photo_Flynn {
  width: 84px;
  border-radius: 50%;
  margin-top: 24px;
  margin-right: 36px;
  width: 84px;
  height: 84px;
  object-fit: cover;
}

.profile_name {
  font-size: 24px;
}

.recipe-text {
  line-height: 1.5;
}

footer {
  background-color: rgba(0, 0, 0, 0.404);
  height: 220px;
}

.verschieben {
  position: absolute;
  right: 35px;
  padding-top: 80px;
}

.socials-container {
  display: flex;
  gap: 20px;
}

.socials-container a {
  padding: 1em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.socials-container a svg {
  height: 32px;
}

.socials-container a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.socials-container a:hover {
  background-color: var(--accent-color);
  fill: white;
}

.socials-container a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.socials-container a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}

.socials-container a:hover::after {
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}


@media (max-width: 840px) {

  .error {
    margin-left: 112px;
  }

  header {
    justify-content: space-between;
    padding: 0 110px;
    height: 80px;
  }

  .logo {
    width: 180px;
  }

  .nav-elements {
    display: none;
  }

  .burger-menu-toggle {
    display: block;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-link {
    margin-bottom: 10px;
  }
}

.info_container_scrambled_tofu {
  padding: 12px 112px;
}

.photo_heading-container_scrambled_tofu {
  height: 164px;
}

.sub_cntainer_heading_scrambled_tofu {
  padding: 10px 112px;
}

.calculate_ingredients_container_tofu_scramble {
  padding-left: 112px;
  padding-right: 112px;
}

.table_tofu_scramble {
  padding: 0 112px;
}

.profile_container_scrambled_tofu {
  padding-left: 112px;
  padding-right: 112px;
  padding-bottom: 84px;
}

footer {
  height: 184px;
}


@media (max-width: 650px) {

  .error {
    margin-left: 84px;
  }

  .info_container_scrambled_tofu {
    padding: 12px 84px;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  .photo_heading-container_scrambled_tofu {
    height: 148px;
  }

  .sub_cntainer_heading_scrambled_tofu {
    padding: 10px 84px;
    justify-content: space-between;
  }

  .calculate_ingredients_container_tofu_scramble {
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 40px;
  }

  .ingredients_input_tofu_scramble {
    width: 150px;
  }

  .table_tofu_scramble {
    padding: 0 84px;
  }

  .profile_container_scrambled_tofu {
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 64px;
  }

  footer {
    height: 124px;
  }

  .verschieben {
    padding-top: 40px;
  }
}

@media (max-width: 570px) {
  .logo {
    width: 148px;
  }

  .header {
    width: 100vh;
  }

  .photo_heading-container_scrambled_tofu {
    height: 124px;
  }

  .info_container_scrambled_tofu {
    padding: 12px 48px;
  }

  h1 {
    font-size: 24px;
  }

  .sub_cntainer_heading_scrambled_tofu {
    padding: 10px 48px;
  }

  .calculate_ingredients_container_tofu_scramble {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 36px;
  }

  .table_tofu_scramble {
    padding: 0 48px;
  }

  .profile_container_scrambled_tofu {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 56px;
  }

  .profile_photo_Flynn {
    width: 64px;
    height: 64px;
    margin-top: 16px;
    margin-right: 24px;
  }
}

@media (max-width: 450px) {

  .error {
    margin-left: 40px;
    margin-right: 40px;
  }

  header {
    padding: 0 60px;
  }

  .logo {
    width: 124px;
  }

  .photo_heading-container_scrambled_tofu {
    height: 124px;
  }

  .info_container_scrambled_tofu {
    padding: 12px 24px;
  }

  .sub_cntainer_heading_scrambled_tofu {
    padding: 10px 24px;
    width: auto;
    justify-content: center;
    gap: 24px;
  }

  .recipe_short_information {
    padding: 0;
    font-size: 16px;
  }

  .calculate_ingredients_container_tofu_scramble {    
    padding-top: 24px;
  }

  .text_field-tofu_scramble {
    font-size: 16px;
    height: 36px;
  }

  .ingredients_input_tofu_scramble {
    font-size: 16px;
    width: 112px;
    height: 36px;
  }

  button {
    font-size: 16px;
    height: 36px;
  }

  .table_tofu_scramble {
    padding: 0 48px;
    font-size: 16px;
    padding: 0 24px;
  }

  .heading_Zubereitung {
    font-size: 20px;
  }

  .sub_cntainer_Zubereitung_scrambled_tofu {
    width: unset;
    gap: 8px;
  }

  .profile_container_scrambled_tofu {
    padding-left: 24px;
    padding-right: 24px;
  }

  .profile_name {
    font-size: 20px;
  }
}

@media (max-width: 900px) {

  .verschieben {
    position: sticky;
  }

  .socials-container {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}